body {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 4rem;
    color: black;
    margin-bottom: 20px;
}

.dice-input {
    margin-bottom: 20px;
}

label {
    font-size: 2rem;
}

input {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 10px;
}

button {
    font-size: 2rem;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: #e63946;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white;
    color: #e63946;
    border: 2px solid #e63946;
}

button:active {
    background-color: white;
    color: black;
}

#diceResult, #diceImages {
    margin-top: 20px;
    font-size: 1.5rem;
}

#diceResult
{
    margin: 5px;
}

